/* ==========================================================================
   Fonts
   NEXA: 900 Black - 800 Heavy - 700 XBold - 600 Bold - 400 Regular - 300 Book - 200 Light - 100 Thin
   ========================================================================== */

@font-face {
    font-family: 'Nexa'; /* Nexa Regular */
    src: url('../fonts/2875F4_D_0.eot');
    src: url('../fonts/2875F4_D_0.eot?#iefix') format('embedded-opentype'),
         url('../fonts/2875F4_D_0.woff') format('woff'),
         url('../fonts/2875F4_D_0.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Nexa'; /* Nexa Book */
    src: url('../fonts/2875F4_4_0.eot');
    src: url('../fonts/2875F4_4_0.eot?#iefix') format('embedded-opentype'),
         url('../fonts/2875F4_4_0.woff') format('woff'),
         url('../fonts/2875F4_4_0.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Nexa'; /* Nexa XBold */
    src: url('../fonts/2875F4_E_0.eot');
    src: url('../fonts/2875F4_E_0.eot?#iefix') format('embedded-opentype'),
         url('../fonts/2875F4_E_0.woff') format('woff'),
         url('../fonts/2875F4_E_0.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Nexa'; /* Nexa Black */
    src: url('../fonts/2875F4_A_0.eot');
    src: url('../fonts/2875F4_A_0.eot?#iefix') format('embedded-opentype'),
         url('../fonts/2875F4_A_0.woff') format('woff'),
         url('../fonts/2875F4_A_0.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'icomoon';
    src:url('../fonts/icomoon.eot');
    src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf') format('truetype'),
        url('../fonts/icomoon.woff') format('woff'),
        url('../fonts/icomoon.svg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* ==========================================================================
   Base
   ========================================================================== */

body {
    font-family: 'Nexa';
    font-weight: 300;
    left: 0;
    position: relative;
    transition: left 0.6s;
}
a {
    color: #000;
}
a:active {
    color: #b3b3b3;
}
img {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}
h1 {
    font-size: 1.5em;
    font-weight: 900;
    text-transform: uppercase;
}

/* =============================================================================
   Layout - Header
   ========================================================================== */

#header {
    padding: 0 20px;
    text-align: center;
}

#main-nav {
    background: #000;
    height: 100%;
    left: -17em;
    position: absolute;
    top: 0;
    width: 17em;
}
#main-nav .menu {
    text-align: left;
    padding: 20px;
}
#main-nav .menu-item {
    border-bottom: 2px solid #fff;
    display: list-item;
    padding: 1em 0;
}
#main-nav a {
    color: #fff;
    font-size: 1.56em;
    font-weight: 900;
    text-decoration: none;
    text-transform: uppercase;
}
#main-nav a:active {
    color: #b3b3b3;
}
#main-nav a:after {
    content: " >";
}

.toggle-menu {
    cursor: pointer;
    float: left;
    margin: 0.5em 0;
}
.toggle-search {
    cursor: pointer;
    float: right;
    margin: 0.5em 0;
}

#social-nav {
    position: absolute;
    right: 20px;
    top: 0;
}

/* ==========================================================================
   Layout - Content
   ========================================================================== */

#main {
    padding: 0 20px;
}
.main-block {
    padding: 0 0 1em;
    border-top: 2px solid #000;
}

/* ==========================================================================
   Layout - Footer
   ========================================================================== */


/* ==========================================================================
   Modules
   ========================================================================== */

[class*="icon-"]:before,
[class*="icon-"]:after,
#social-nav a:before {
    font: 1em/1 'icomoon';
    speak: none;
    text-transform: none;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.replace-icon,
#social-nav a {
    height: 1em;
    overflow: hidden;
    text-decoration: none;
    width: 1.1em;
}
.replace-icon:before,
#social-nav a:before {
    display: block;
}

.icon-search:before {
    content: "\e600";
}
.icon-menu:before {
    content: "\e601";
}
.icon-plus:after {
    content: "+";
}
#social-nav a[title="facebook"]:before {
    content: "\e602";
}
#social-nav a[title="twitter"]:before {
    content: "\e603";
}
#social-nav a[title="flickr"]:before {
    content: "\e604";
}

.logo {
    display: inline-block;
    margin: 0 0 20px;
    text-align: left;
}
.logo a {
    text-decoration: none;
}
.logo h1 {
    font-size: 1.38em;
    font-weight: 700;
    letter-spacing: -0.05em;
    line-height: 1em;
    margin: 0;
    text-transform: lowercase;
}
.logo h2 {
    font-size: 0.52em;
    font-weight: 300;
    line-height: 1em;
    margin: 0;
}

.search-form {
    background: #000;
    color: #fff;
    padding: 12px;
    transition: all 0.6s;
}
.search-field {
    background: #000;
    border: none;
    color: #fff;
    vertical-align: middle;
    width: 92%;
}
.search-submit {
    background: none;
    border: none;
    color: #fff;
    float: right;
    padding: 2px 0;
    vertical-align: middle;
}

/* http://csswizardry.com/2011/09/the-nav-abstraction/ */
.menu {
    list-style:none;
    padding-left:0;
}
.menu li,
.menu a {
    display:inline-block;
}

.menu-language {
    border-bottom: 2px solid #000;
    margin: 0 0 1em;
    padding: 1em 0;
}
.lang-item {
    border-left: 1px solid #000;
    font-size: 0.75em;
    line-height: 1em;
    padding: 0 0.5em;
}
.lang-item:first-child {
    border-left: none;
}
.lang-item a {
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}

/*
 * jQuery FlexSlider v2.2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */


/* FlexSlider Browser Resets
*********************************/
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;}

/* FlexSlider Necessary Styles
*********************************/
.flexslider {margin: 0; padding: 0;}
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {width: 100%; display: block;}
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "\0020"; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
html[xmlns] .slides {display: block;}
* html .slides {height: 1%;}

.slider-picture {
    display: block;
    position: relative;
}
.slider-overlay {
    bottom: 5px;
    left: 20px;
    position: absolute;
}
.slider-title {
    color: #fff;
    font-size: 1.8em;
    font-weight: 900;
    line-height: 1;
    margin: 0;
    text-transform: uppercase;
}
.slider-subtitle {
    color: #fff;
    font-size: 1em;
    font-weight: 300;
    margin: 0;
    text-transform: uppercase;
}
.slider-subtitle:after {
    margin-left: 0.5em;
    font-size: 0.88em;
}
.slider-info {
    display: inline-block;
    margin: 0 20px;
}
.slider-text {
    display: none;
}
.slider-more {
    text-align: center;
}
#main-slider .flex-control-nav,
#main-slider .flex-direction-nav {
    display: none;
}

.button {
    background: #000;
    color: #fff;
    font-weight: 600;
    padding: 8px 12px 4px;
    text-decoration: none;
    text-transform: uppercase;
}
.button:hover {
    background: #fff;
    color: #000;
}
.button:active {
    background: #b3b3b3;
    color: #fff;
}

#events-carousel {
    padding: 0 50px;
    position: relative;
}
#events-carousel li.agenda {
    margin-right: 20px;
}

.flex-prev,
.flex-next {
    background: #000;
    border-radius: 50%;
    color: #fff;
    font-size: 2.5em;
    font-weight: bold;
    line-height: 32px;
    margin-top: -16px;
    position: absolute;
    text-align: center;
    text-decoration: none;
    top: 50%;
    width: 32px;
}
.flex-prev {
    left: 0;
}
.flex-next {
    right: 0;
}
.flex-disabled {
    display: none;
}


/* ==========================================================================
   States
   ========================================================================== */

.toggled-menu {
    left: 17em;
    overflow-x: hidden;
}

.is-open:before {
    border-color: #000 transparent;
    border-style: solid;
    border-width: 10px 6px 0;
    content: "";
    height: 0;
    margin: 4px;
    width: 0;
}

.height-zero {
    height: 0;
    padding-bottom: 0;
    padding-top: 0;
    overflow: hidden;
}

/* ==========================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter { display: block; margin: 0 auto; }
.alignleft { float: left; }
.alignright { float: right; }
