/* ==========================================================================
   Fonts
   NEXA: 900 Black - 800 Heavy - 700 XBold - 600 Bold - 400 Regular - 300 Book - 200 Light - 100 Thin
   ========================================================================== */

@font-face {
    font-family: 'Nexa'; /* Nexa Regular */
    src: url('../fonts/2875F4_D_0.eot');
    src: url('../fonts/2875F4_D_0.eot?#iefix') format('embedded-opentype'),
         url('../fonts/2875F4_D_0.woff') format('woff'),
         url('../fonts/2875F4_D_0.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Nexa'; /* Nexa Book */
    src: url('../fonts/2875F4_4_0.eot');
    src: url('../fonts/2875F4_4_0.eot?#iefix') format('embedded-opentype'),
         url('../fonts/2875F4_4_0.woff') format('woff'),
         url('../fonts/2875F4_4_0.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Nexa'; /* Nexa XBold */
    src: url('../fonts/2875F4_E_0.eot');
    src: url('../fonts/2875F4_E_0.eot?#iefix') format('embedded-opentype'),
         url('../fonts/2875F4_E_0.woff') format('woff'),
         url('../fonts/2875F4_E_0.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Nexa'; /* Nexa Black */
    src: url('../fonts/2875F4_A_0.eot');
    src: url('../fonts/2875F4_A_0.eot?#iefix') format('embedded-opentype'),
         url('../fonts/2875F4_A_0.woff') format('woff'),
         url('../fonts/2875F4_A_0.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'icomoon';
    src:url('../fonts/icomoon.eot');
    src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf') format('truetype'),
        url('../fonts/icomoon.woff') format('woff'),
        url('../fonts/icomoon.svg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* ==========================================================================
   Base
   ========================================================================== */

body {
    font-family: 'Nexa';
    font-weight: 300;
    left: 0;
    padding: 0 20px;
    position: relative;
    transition: left 0.6s;
}
a {
    color: #000;
}
a:active {
    color: #b3b3b3;
}

/* =============================================================================
   Layout - Header
   ========================================================================== */

#header {
    text-align: center;
}

#main-nav {
    background: #000;
    height: 100%;
    left: -17em;
    position: absolute;
    top: 0;
    width: 17em;
}
#main-nav .menu {
    text-align: left;
    padding: 20px;
}
#main-nav .menu-item {
    border-bottom: 2px solid #fff;
    list-style: none;
    padding: 1em 0;
}
#main-nav a {
    color: #fff;
    font-size: 1.56em;
    font-weight: 900;
    text-decoration: none;
    text-transform: uppercase;
}
#main-nav a:active {
    color: #b3b3b3;
}
#main-nav a:after {
    content: " >";
}

.toggle-menu {
    cursor: pointer;
    float: left;
    margin: 0.5em 0;
}
.toggle-search {
    cursor: pointer;
    float: right;
    margin: 0.5em 0;
}

/* ==========================================================================
   Layout - Content
   ========================================================================== */


/* ==========================================================================
   Layout - Footer
   ========================================================================== */


/* ==========================================================================
   Modules
   ========================================================================== */

[class*="icon-"] {
    font: 1em/1 'icomoon';
    speak: none;
    text-transform: none;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.replace-icon {
    height: 1em;
    overflow: hidden;
    width: 1.25em;
}
.replace-icon:before {
    display: block;
}

.icon-search:before {
    content: "\e600";
}
.icon-menu:before {
    content: "\e601";
}
.icon-plus:before {
    content: "+";
}

.logo {
    display: inline-block;
    margin: 0 0 20px;
    text-align: left;
}
.logo a {
    text-decoration: none;
}
.logo h1 {
    font-size: 1.38em;
    font-weight: 700;
    letter-spacing: -0.05em;
    line-height: 1em;
    margin: 0;
    text-transform: lowercase;
}
.logo h2 {
    font-size: 0.52em;
    font-weight: 300;
    line-height: 1em;
    margin: 0;
}

.search-form {
    background: #000;
    color: #fff;
    padding: 12px;
    transition: all 0.6s;
}
.search-field {
    background: #000;
    border: none;
    color: #fff;
    vertical-align: middle;
    width: 92%;
}
.search-submit {
    background: none;
    border: none;
    color: #fff;
    float: right;
    padding: 2px 0;
    vertical-align: middle;
}

/* ==========================================================================
   States
   ========================================================================== */

.toggled-menu {
    left: 17em;
    overflow-x: hidden;
}

.is-open:before {
    border-color: #000 transparent;
    border-style: solid;
    border-width: 10px 6px 0;
    content: "";
    height: 0;
    margin: 4px;
    width: 0;
}

.height-zero {
    height: 0;
    padding-bottom: 0;
    padding-top: 0;
    overflow: hidden;
}

/* ==========================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter { display: block; margin: 0 auto; }
.alignleft { float: left; }
.alignright { float: right; }
